body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("background-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

}

.project1 {
    display: flex;
    justify-content: center;
}

.project1 h1 {
    letter-spacing: 10px;
    color: white;
    animation-name: head-animation;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes head-animation {
    0% {
        letter-spacing: 30px;
    }

    25% {
        letter-spacing: 10px;
    }
}

.future_options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: baseline;
}