body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("background-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

}

.project1 {
    display: flex;
    justify-content: center;
}

.project1 h1 {
    letter-spacing: 10px;
    color: white;
    animation-name: head-animation;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes head-animation {
    0% {
        letter-spacing: 30px;
    }

    25% {
        letter-spacing: 10px;
        
    }
}

.future_options {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: baseline;
    color: white;
    margin-left: 550px;}
    @keyframes delay-animation1{
        0%{
            transform: translateX(-150px);
            color: transparent;
        }
    }
    .future_options h3 a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
            
          
    
    .name1{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 0s;
        visibility: hidden;
        
    }
    .name2{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 0.5s;
        visibility: hidden;
        
    }
    .name3{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 1s;
        visibility: hidden;
        
    }
    .name4{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 1.5s;
        visibility: hidden;
    }
    .name5{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 2s;
        visibility: hidden;
    }
    .name6{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 2.5s;
        visibility: hidden;
    }
    .name7{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 3s;
        visibility: hidden;
    }
    .name8{
        animation-name: delay-animation1;
        animation-duration: 1s;
        animation-delay: 3.5s;
        visibility: hidden;
    }
    .name{
        visibility: hidden;
    }
    